*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.css-results-container{
    padding: 2rem;
}

.css-heading-itself{
    color: violet;
}


.css-loading-container{
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: 3rem;
}